.btn-label {
    position: relative;left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0,0,0,0.15);
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

#profileDisplay {
    display: block;
    height: 210px; width: 50%;
    margin: 2px auto;
    padding-top: 2px auto;
    border-radius: 50%;
}